
<%= form_with url: "/flights", method: :get, local: true do |f| %>
  
  <%= f.label :from %>
  <select name="search[from_code]">
    <%= @airports.each do |port| %>
      <option value="<%= port.id %>"><%= port.code%></option>
    <% end %>
  </select>

  </br></br>

  <%= f.label :to %>
  <select name="search[to_code]">
    <%= @airports.each do |port| %>
      <option value="<%= port.id %>"><%= port.code%></option>
    <% end %>
  </select>

  </br></br>

  <%= f.label :passengers%>
  <select name="passengers">
    <% 4.times do |i|%>
      <option value="<%= i + 1 %>"><%= i + 1 %></option>
    <% end %>
  </select>

  </br></br>

  <%= f.label :departure_date%>
  <select name="search[time]">
    <% Flight.all.order(:time).each do |fl| %>
      <option value="<%= fl.time %>"><%= fl.time.to_formatted_s(:long) %></option>
    <% end %>
  </select></br></br>
  <%= f.submit :Search, name: nil %>

<% end %>