<h1>Search For A Flight!</h1>

<%= render  "flight_search" %>

<h2>Flights</h2>

<% if !@search.nil?%>
  <%= form_with url: "/bookings/new", method: :get, local: true do |form| %>
  <%= form.hidden_field "booking[passenger_count]", :value => params[:passengers] %>
    
    <% @search.each do |fl|%>
      <%= radio_button :booking, :flight_id, fl.id %> <%= fl.display %>
    <% end %>
    </br></br>
    <%= form.submit :Book, name: nil %>
  <% end %>

<% else %>
  <p>Please enter search above</p>
<% end %>

#remember to add passengers selection to search and then as a hidden thing in booking form

