<h1>Search For A Flight!</h1>

<%= render  "flight_search" %>

<h2>Flights</h2>

<% if !@search.nil?%>
  <%= form_for( :booking, method: :get, remote: true) do |form| %>
    <% @search.each do |fl|%>
      <%= radio_button :booking, :flight_id, fl.id %> <%= fl.display %>
    <% end %>
    </br></br>
    <%= form.submit :Book, name: nil %>
  <% end %>

<% else %>
  <p>Please enter search above</p>
<% end %>

