<h1>Your Booking</h1>

<h3>Flight Details</h3>

<table>
  <tr>
    <td>Flight #:</td>
    <td><%= @flight.id %></td>
  </tr>
  <tr>
    <td>From:</td>
    <td><%= @flight.departure_airport.code %></td>
  </tr>
  <tr>
    <td>To:</td>
    <td><%= @flight.arrival_airport.code %></td>
  </tr>
  <tr>
    <td>Time:</td>
    <td><%= @flight.time.to_formatted_s(:short) %></td>
  </tr>
  <tr>
    <td>Duration:</td>
    <td><%= "#{@flight.duration} hrs" %></td>
  </tr>
</table>

<h3>Passenger Booking Information</h3>
<%= form_for( @booking , remote: true) do |f| %>
  <%= f.hidden_field "passenger_count", :value => params[:booking][:passenger_count] %>
  <%= f.hidden_field "flight_id", :value => @flight.id %>
  <%= f.fields_for :passengers do |p_fields| %>
      <li>
        <h4><%= "Passenger #{p_fields.index + 1}"%></h4>  
        <%= p_fields.label :name%>
        <%= p_fields.text_field(:name) %>
        </br>
        <%= p_fields.label :email%>
        <%= p_fields.text_field(:email) %>
        </br></br>
      </li>
  <% end %>
  <%= f.submit name: nil%>
<% end %>